@use "sass:math";

.alignwide {
    width: $wideContentWidth;
    max-width: 100%;
    clear: both;
}

.alignfull {
    clear: both;
    width: $fullContentWidth;
    max-width: calc(100% + #{$contentPadding} + #{$contentPadding});
    margin-left: -#{$contentPadding};
    margin-right: -#{$contentPadding};
}

@media (min-width: $maxContentWidth) {
    .alignleft {
        width: calc(50% - #{math.div($flow, 2)});
        float: left;
        margin-right: $flow;
        margin-bottom: $flow;
    }

    .alignright {
        width: calc(50% - #{math.div($flow, 2)});
        float: right;
        margin-left: $flow;
        margin-bottom: $flow;
    }
}

.has-text-align-right {
    text-align: right;
}

.has-text-align-center {
    text-align: center;
}
