/*.category-allgemein {
    background-image: linear-gradient(180deg, #fdf7f2, #fefcfb);
}

.category-meisen {
    background-image: linear-gradient(180deg, #f4f7fb, #fbfcfe);
}

.category-speisen {
    background-image: linear-gradient(180deg, #f5f7f9, #fcfcfd);
}*/
