.flow {
    & > * + *:not(.screen-reader-text) {
        margin-top: var(--flow-override, #{$flow});
    }
}

.flow-small {
    & > * + *:not(.screen-reader-text) {
        margin-top: var(--flow-override, #{$flow-small});
    }
}

.flow-medium {
    & > * + *:not(.screen-reader-text) {
        margin-top: var(--flow-override, #{$flow-medium});
    }
}

.flow-large {
    & > * + *:not(.screen-reader-text) {
        margin-top: var(--flow-override, #{$flow-large});
    }
}

.flow-xl {
    & > * + *:not(.screen-reader-text) {
        margin-top: var(--flow-override, #{$flow-xl});
    }
}
