.gradient-overlay {
    position: relative;

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--gradient-transparent);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: $zIndexImageOverlay;
        mix-blend-mode: multiply;
    }

    & > * {
        z-index: $zIndexImageOverlayContent;
    }
}
