.has-color-bg-color {
    color: var(--color-bg);
}

.has-color-bg-offset-color {
    color: var(--color-bg-offset);
}

.has-color-bg-offset-2-color {
    color: var(--color-bg-offset-2);
}

.has-color-text-color {
    color: var(--color-text);
}

.has-color-text-offset-color {
    color: var(--color-text-offset);
}

.has-color-bg-background-color {
    background-color: var(--color-bg);
}

.has-color-bg-offset-background-color {
    background-color: var(--color-bg-offset);
}

.has-color-bg-offset-2-background-color {
    background-color: var(--color-bg-offset-2);
}

.has-color-text-background-color {
    background-color: var(--color-text);

    .heading {
        background-image: var(--heading-gradient-light);
    }
}

.has-color-text-offset-background-color {
    background-color: var(--color-text-offset);

    .heading {
        background-image: var(--heading-gradient-light);
    }
}

.has-background {
    & + & {
        margin-top: 0;
    }
}
