.image-hover {
    overflow: hidden;

    @media (hover: hover) {
        & img {
            transform: scale(1);
            transition: transform ease-out 150ms;
        }

        &:hover img {
            transform: scale(1.05);
        }
    }
}
