.blocks-gallery-grid {
    .is-style-postcard-gallery & {
        gap: 0;

        .blocks-gallery-item:nth-child(n) .wp-block-image {
            --image-rotation: -1deg;
        }

        .blocks-gallery-item:nth-child(2n) .wp-block-image {
            --image-rotation: 1.25deg;
        }

        .blocks-gallery-item:nth-child(3n) .wp-block-image {
            --image-rotation: 0.5deg;
        }

        .blocks-gallery-item:nth-child(4n) .wp-block-image {
            --image-rotation: -1.25deg;
        }

        .blocks-gallery-item:nth-child(5n) .wp-block-image {
            --image-rotation: 2deg;
        }

        .blocks-gallery-item:nth-child(6n) .wp-block-image {
            --image-rotation: -0.25deg;
        }

        .blocks-gallery-item:nth-child(5n + 1) .wp-block-image {
            --image-scale: 1.025;
        }

        .blocks-gallery-item:nth-child(3n + 1) .wp-block-image {
            --image-scale: 1.05;
        }

        .blocks-gallery-item:nth-child(4n + 1) .wp-block-image {
            --image-scale: 1.0125;
        }
    }
}

.wp-block-image {
    .is-style-postcard-gallery &,
    & .is-style-postcard-image,
    &.is-style-postcard-image {
        transform: translateZ(1px) rotate(var(--image-rotation, 0.75deg))
            scale(var(--image-scale, 1));

        picture {
            border: 3px solid var(--color-bg-offset);
            background-color: var(--color-bg-offset);
        }

        img {
            display: block;
        }

        &.alignright {
            --image-rotation: 0.75deg;
        }

        &.alignleft {
            --image-rotation: -0.75deg;
        }
    }
}

// Bilder und Galerien im Postkarten-Stil sollen ein wenig überlappen
.is-style-postcard-image + .is-style-postcard-image,
.is-style-postcard-image + .is-style-postcard-gallery,
.is-style-postcard-gallery + .is-style-postcard-gallery,
.is-style-postcard-gallery + .is-style-postcard-image {
    --flow-override: 0;
}
