body * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-primary) var(--color-bg-offset-2);
    border-radius: 0;

    &::-webkit-scrollbar {
        border-radius: 0;
        width: 5px;
        height: 5px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 0;
        background: var(--color-bg-offset-2);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 0;
        background: var(--color-primary);
    }
}
