.shadow {
    box-shadow: 0 25px 100px -20px hsla(222, 45%, 15%, 0.25),
        0 15px 60px -30px hsla(0, 0%, 0%, 0.3);

    &--large-only {
        @media (max-width: $maxContentWidth) {
            box-shadow: none;
        }
    }

    &--hover {
        @media (hover: hover) {
            &:hover {
                box-shadow: none;
            }
        }
    }
}

.shadow-small {
    box-shadow: 0 6px 12px -2px hsla(222, 45%, 15%, 0.25),
        0 3px 7px -3px hsla(0, 0%, 0%, 0.3);
}
