#wpadminbar {
    --flow-override: 0;
}

.admin-bar {
    .site-header {
        top: 32px;

        @media screen and (max-width: 782px) {
            top: 46px;
        }
    }
}

#wpadminbar {
    background: var(--color-primary);
}
