@import "1_settings/variables";

.hakerpsson-chart {
    width: 100%;

    &__table-body {
        .hakerpsson-chart--pillars & {
            @media (min-width: $maxContentWidth) {
                display: flex;
                height: 400px;
                max-height: 75vh;
            }
        }
    }

    &__table-row {
        .hakerpsson-chart--pillars & {
            @media (min-width: $maxContentWidth) {
                display: flex;
                flex-direction: column;
                width: calc(100% / 12);
            }
        }
    }

    &__table-head {
        white-space: nowrap;
        padding-right: 1rem;
        width: 10px;
        max-width: max-content;
        min-width: min-content;
        text-align: left;

        // Beim expliziten Balkendiagram (Kategorien) soll die Beschreibung
        // auf kleinen Bildschirmen zuerst über dem Balken stehen
        .hakerpsson-chart--beam & {
            @media (max-width: calc(#{$maxContentWidth} - 1px)) {
                display: block;
                padding-top: 1rem;
            }
        }

        .hakerpsson-chart--pillars & {
            @media (min-width: $maxContentWidth) {
                padding-right: 0;
                text-align: center;
                width: auto;
                max-width: auto;
                min-width: auto;
                order: 2;
            }
        }
    }

    &__table-cell {
        min-width: calc(3ch + 1rem);

        .hakerpsson-chart--beam & {
            padding-left: 1rem;

            @media (max-width: calc(#{$maxContentWidth} - 1px)) {
                display: block;
                padding-left: 0;
            }
        }

        .hakerpsson-chart--pillars & {
            @media (min-width: $maxContentWidth) {
                order: 1;
                flex-grow: 1;
                display: flex;
                align-items: flex-end;
            }
        }
    }

    &__bar {
        display: inline-block;
        display: flex;
        justify-content: flex-end;
        border-radius: 3px;
        background-image: linear-gradient(
            90deg,
            var(--color-primary),
            var(--color-bg-offset-2)
        );
        min-width: calc(3ch + 1rem);
        width: 1px;
        transition: width 500ms ease-in-out;

        &.is-intersecting {
            width: calc(100% * var(--size, 1));
        }

        .hakerpsson-chart--pillars & {
            @media (min-width: $maxContentWidth) {
                min-width: auto;
                width: auto;
                background-image: linear-gradient(
                    0deg,
                    var(--color-primary),
                    var(--color-bg-offset-2)
                );
                min-height: 2.5rem;
                height: 1px;
                transition: height 500ms ease-in-out;

                &.is-intersecting {
                    width: auto;
                    height: calc(100% * var(--size, 1));
                }
            }
        }
    }

    &__count {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 0.5rem;
        padding: 0.1rem;
        border-radius: 3px;
        height: 1.5rem;
        min-width: 3ch;
        background-color: var(--color-bg);
    }
}

.hakerpsson-archive-chart-wrapper {
    width: $paragraphWidth;
}
