@import "1_settings/variables";
@import "1_settings/fonts";

.wp-block-image.is-style-fancy-image {
    border-top: 1rem solid var(--color-primary);
    border-left: 1rem solid var(--color-primary);
    border-bottom: 1rem solid var(--color-secondary);
    border-right: 1rem solid var(--color-secondary);
    line-height: 0;

    figcaption {
        display: none;
    }
}

@import "6_components/wp-block-poi";

/*
body .editor-styles-wrapper {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: clamp(18px, 1.25vw, 24px);
    line-height: 1.8;
    color: #333;
    font-weight: 400;
    background: #f0f0f0;
    hyphens: auto;
}

.wp-block {
    max-width: $maxContentWidth;

    &.editor-post-title {
        max-width: $paragraphWidth;
    }
}

p.wp-block {
    max-width: $paragraphWidth;
}

/* Width of "wide" blocks */
/*.wp-block[data-align="wide"] {
    max-width: $wideContentWidth;
}*/

/* Width of "full-wide" blocks */
/*.wp-block[data-align="full"] {
    max-width: $fullContentWidth;
}
*/
