{% extends "base.html.twig" %}

{% block content %}
    <header class="contentwrapper subheader flow">
        <h1 class="heading">Hoppala.</h1>
        <p class="heading heading--4 heading--centered">Hier wurden leider keine Inhalte gefunden.</p>
        <p class="heading heading--4 heading--centered">Fehlercode 404</p>
    </header>
{% endblock %}