<article class="contentwrapper flow article {{ post.class }}">
    {% if (isSingle or isPage) and hasPostThumbnail %}
        <header class="article__header hero-header flow alignfull js-intersection-ratio">
            <div class="hero-header__textwrapper flow-small shadow shadow--large-only">
                <h1 class="hero-header__headline">{{ post.title }}</h1>
            
                {% if isSingle %}
                    <p class="meta">
                        <time datetime="{{ post.date|date('Y-m-d H:i:s') }}">{{ post.date }}</time>

                        {% if post.categories|length %} &middot; {% endif %} 

                        {% for category in post.categories %}
                                <a href="{{ category.link }}">
                                    {{ category.name }}
                                </a>

                                {% if not loop.last %}
                                    &middot;
                                {% endif %}
                            {% endfor %}
                    </p>
                {% endif %}
            </div>

            {%
                set attributes = {
                    'imageId' : postThumbnailId,
                    'alt' : '',
                    'pictureElementClasses' : 'hero-header__image shadow',
                    'lazyloading' : false,
                    'sizes' : '(min-width: 1000px) 65vw, 100vw'
                }
            %}

            {{ renderPictureTag(attributes) }}
        </header>
    {% elseif isSingle %}
        <header class="article__header flow-small">
            <h1 class="heading">{{ post.title }}</h1>

            <p class="meta">
                <time datetime="{{ post.date|date('Y-m-d H:i:s') }}" class="meta">{{ post.date }}</time>

                {% for category in post.categories %}
                    &middot;

                    <a href="{{ category.link }}">
                        {{ category.name }}
                    </a>
                {% endfor %}            
            </p>
        </header>
    {% elseif isPage %}
        {% if post.title %}
            <header class="article__header flow-small">
                <h1 class="heading">
                    {{ post.title }}
                </h1>
            </header>
        {% endif %}
    {% else %}
        <header class="article__header flow-small">
            <h2 class="heading">
                <a href="{{ post.link }}" class="article__headlink">{{ post.title }}</a>
            </h2>
            
            <p class="meta">
                <a href="{{ post.link }}" class="meta">
                    <time datetime="{{ post.date|date('Y-m-d H:i:s') }}">{{ post.date }}</time>
                </a>

                {% for category in post.categories %}
                    &middot;
        
                    <a href="{{ category.link }}">
                        {{ category.name }}
                    </a>
                {% endfor %}            
            </p>
        </header>
    {% endif %}

    {{ post.content }}
</article>