<div class="map-wrapper">
    <div id="map" class="map"></div>

    <div class="poi-list-wrapper">
        <button 
            type="button" 
            class="poi-list__button poi-list__button--up js-poi-scrollbutton shadow" 
            data-direction="up"
            aria-disabled="true">
            &#8593; <span class="screen-reader-text">Voriger Punkt</span>
        </button>
        <button 
            type="button" 
            class="poi-list__button poi-list__button--down js-poi-scrollbutton shadow" 
            data-direction="down">
            &#8595; <span class="screen-reader-text">Nächster Punkt</span>
        </button>
        
        <ul class="poi-list shadow">
            <li class="poi-list__poi is-active-poi js-is-active-poi" data-poi-id="overview" id="overview">
                <article class="poi-teaser">
                    <div class="flow-small">
                        <h3 class="heading heading--3">Übersicht</h3>
                        <p class="meta">Alle Marker aus dieser Kategorie.</p>

                        <div class="poi-teaser__description">
                            Klicke dich durch die Liste, um die einzelnen Marker anzuspringen oder klicke einen 
                            der Marker direkt an.
                        </div>
                    </div>
                </article>
            </li>
            {% for poi in flymap.poiForList %}
            <li class="poi-list__poi js-is-active-poi" data-poi-id="{{ poi.id }}" id="{{ poi.id }}">
                <article class="poi-teaser">
                    <div class="flow-small">
                        <h3 class="heading heading--3">{{ poi.title }}</h3>
                        <p class="meta">Aus dem Beitrag "{{ poi.postTitle }}".</p>

                        {% if poi.description %}
                            <div class="poi-teaser__description">
                                {{ poi.description }}
                            </div>
                        {% endif %}

                        <div class="poi-teaser__link">
                            <a href="{{ poi.link }}">Zum Beitrag &rarr;</a>
                        </div>
                    </div>
                </article>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<script>
    window.flymap = {
        'poiForMap' : {{ flymap.poiForMap|json_encode }},
        'bounds' : {{ flymap.bounds|json_encode }},
        'first' : {{ flymap.first|json_encode }}
    }
</script>
