<footer class="footer flow">
    <div class="footer__search">
        {% include "_searchform.html.twig" %}
    </div>

    {% if footerMenu.items is not empty %}
        <nav>
            <ul class="footer-navigation">
                {% for item in footerMenu.items %}
                    <li class="footer-navigation__item {{ item.classes|join(' ') }}{% if item.current %} current{% endif %}">
                        <a href="{{ item.link }}" class="footer-navigation__link">{{ item.title }}</a>
                    </li>
                {% endfor %}
                <li class="footer-navigation__item">
                    <a class="footer-navigation__link" href="https://martinschneider.me" rel="me">martinschneider.me</a>
                </li>
                <li class="footer-navigation__item">
                    <a class="footer-navigation__link" href="https://mastodon.social/@schneyra" rel="me">Mastodon</a>
                </li>
            </ul>
        </nav>
    {% endif %}
</footer>
