{% if playlist.halfsize %}
<div class="wp-block-embed wp-block-embed--wide">
{% endif %}
    <figure class="wp-block-embed__wrapper shadow js-intersection-ratio is-provider-spotify has-playbutton js-embed-wrapper {{ playlist.className|default('') }}">
        <button class="wp-block-embed__playbutton js-embed-play" type="button">
            <span class="wp-block-embed__playbutton-text">
                <span class="screen-reader-text">Eingebettete Playlist starten.</span>
                Mit einem Klick werden Daten von Spotify nachgeladen.
            </span>
        </button>

        {%
            set attributes = {
                'imagePath' : 'spotify/' ~ playlist.image,
                'alt': 'Cover der Playlist "'~playlist.title|e('esc_html')~'"',
                'pictureElementClasses' : 'wp-block-embed__cover js-embed-cover',
                'align' : playlist.align
            }
        %}

        {{ renderPictureTag(attributes) }}

        {{ playlist.html|raw }}
    </figure>
{% if playlist.halfsize %}
</div>
{% endif %}
