<div class="wp-block-poi-wrapper" id="{{ slug }}">
    <figure class="wp-block-poi {{ alignmentClass }}">

        {% if alignmentClass == 'aligncenter' %}
            {% set mapWidth = 820 %}
            {% set mapHeight = 410 %}
            {% set sizes = '(min-width: 1000px) 37rem, 100vw' %}
            {% set imageWidthsToGenerate = [820, 1640] %}
        {% else %}
            {% set mapWidth = 640 %}
            {% set mapHeight = 320 %}
            {% set sizes = '(min-width: 1000px) 625px, 100vw' %}
            {% set imageWidthsToGenerate = [625, 1250] %}
        {% endif %}

        {%
            set attributes = {
                'imagePath' : 'mapbox/pin-s-star+ff540a(' ~ lnglat ~ ')/' ~ lnglat ~ ',11,0/'~ mapWidth ~'x' ~ mapHeight,
                'alt': '',
                'sizes' : sizes,
                'pictureElementClasses' : 'wp-block-poi__image shadow',
                'imageWidthsToGenerate' : imageWidthsToGenerate,
                'width' : mapWidth,
                'height' : mapHeight
            }
        %}

        {{ renderPictureTag(attributes) }}

        <figcaption class="flow-small">
            {% if title %}
                <h3 class="heading heading--5">{{ title }}</h3>
            {% endif %}
            
            {% if description %}
                {{ description }}
            {% endif %}
            
            {% if website %}
                <div>
                    <a href="{{ website }}">Webseite</a>
                </div>
            {% endif %}
        </figcaption>
    </figure>
</div>
