<h2 class="heading-2">Kategorien</h2>
<p>Bisher habe ich
	{{ sumOfPosts }}
	{{ fn('_n', 'Beitrag', 'Beiträge', sumOfPosts) }}
	in
	{{ categories|length }}
	{{ fn('_n', 'Kategorie', 'Kategorien', categories|length) }}
	veröffentlicht.
	{% if archiveCategory %}
		Außerdem
		{{ fn('_n', 'befindet', 'befinden', archiveCategory.count) }}
		sich
		{{ archiveCategory.count }}
		{{ fn('_n', 'Beitrag', 'Beiträge', archiveCategory.count) }}
		aus den Jahren vor der Blog-Umstellung 2008 im
		<a href="{{ archiveCategory.link }}">{{ archiveCategory.name }}</a>.
	{% endif %}
</p>

<div class="content-wrapper">
	<table class="hakerpsson-chart hakerpsson-chart--beam">
		<thead class="screen-reader-text">
			<th scope="col">Kategorie</th>
			<th scope="col">Anzahl Beiträge</th>
		</thead>
		<tbody class="hakerpsson-chart__table-body">
			{% for category in categories %}
				{% set size = category.count / mostPostsInCategory %}
				<tr class="hakerpsson-chart__table-row">
					<th class="hakerpsson-chart__table-head" scope="row">
						<a href="{{ category.link }}">{{ category.name }}</a>
					</th>
					<td class="hakerpsson-chart__table-cell" style="--size: {{ size }}">
						<span class="hakerpsson-chart__bar js-is-intersecting">
							<span class="hakerpsson-chart__count">{{ category.count }}</span>
						</span>
					</td>
				</tr>

				{% for child in category.children %}
					{% set size = child.count / mostPostsInCategory %}
					<tr class="hakerpsson-chart__table-row">
						<th class="hakerpsson-chart__table-head" scope="row">
							{{ category.name }}:
							<a href="{{ child.link }}">{{ child.name }}</a>
						</th>
						<td class="hakerpsson-chart__table-cell" style="--size: {{ size }}">
							<span class="hakerpsson-chart__bar js-is-intersecting">
								<span class="hakerpsson-chart__count">{{ child.count }}</span>
							</span>
						</td>
					</tr>
				{% endfor %}
			{% endfor %}
		</tbody>
	</table>
</div>
