<h2 class="heading-2">Archiv nach Monaten</h2>
<p>
	<a href="#{{ yearWithMostPosts.year }}">{{ yearWithMostPosts.year }}</a>
	war mein bisher fleißigstes Jahr, ich veröffentlichte
	{{ yearWithMostPosts.post_count }}
	{{ fn('_n', 'Beitrag', 'Beiträge', yearWithMostPosts.post_count) }}. Der Monat mit den meisten Beiträgen bisher war
	<a href="{{ monthWithMostPosts.link }}">
		{{ monthWithMostPosts.month }}
		{{ monthWithMostPosts.year }}</a>, in dem ich
	{{ monthWithMostPosts.post_count }}
	{{ fn('_n', 'Beitrag', 'Beiträge', monthWithMostPosts.post_count) }}
	schrieb.
</p>

{% for year in archives.items %}
	<h3 class="heading-3" id="{{ year.name }}">{{ year.name }}</h3>
	<p>{{ year.name }}
		habe ich
		{{ year.post_count }}
		{{ fn('_n', 'Beitrag', 'Beiträge', year.post_count) }}
		veröffentlicht. Der stärkste Monat war
		{{ year.mostPostsThisYear.name }}.</p>

	<div class="hakerpsson-archive-chart-wrapper">
		<table class="hakerpsson-chart hakerpsson-chart--pillars">
			<thead class="screen-reader-text">
				<th scope="col">Monat</th>
				<th scope="col">Anzahl Beiträge</th>
			</thead>
			<tbody class="hakerpsson-chart__table-body">
				{% for month in year.children %}
					{% set size = month.post_count / year.mostPostsThisYear.post_count %}
					<tr class="hakerpsson-chart__table-row">
						<th class="hakerpsson-chart__table-head" scope="row">
							<a href="{{ month.link }}">{{ month.name|slice(0, 3) }}</a>
						</th>
						<td class="hakerpsson-chart__table-cell" style="--size: {{ size }}">
							<span class="hakerpsson-chart__bar js-is-intersecting">
								<span class="hakerpsson-chart__count">{{ month.post_count }}</span>
							</span>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endfor %}
