<div class="wp-block-gallery {{ blockClasses }}">
    <ul class="blocks-gallery-grid">
        {% for id,image in images %}
            <li class="blocks-gallery-item">
            {{image.imageId}}
                {% include '_gutenberg-image.html.twig' with {'image' : image} %}
            </li>
        {% endfor %}
    </ul>
</div>
