{% if image.halfsize %}
<div class="wp-block-image wp-block-image--wide wp-block-image--aligned">
{% endif %}
    <figure class="{% if not image.halfsize %}wp-block-image{% endif %} {{ image.className|default('') }}">
        {%
            set attributes = {
                'imageId' : image.id,
                'alt': image.alt,
                'align' : image.align,
                'sizes' : image.sizes,
                'pictureElementClasses' : 'shadow js-intersection-ratio'
            }
        %}

        {{ renderPictureTag(attributes) }}
        
        {% if image.caption %}
            <figcaption>{{ image.caption }}</figcaption>
        {% endif %}
    </figure>
{% if image.halfsize %}
</div>
{% endif %}
