{% if video.halfsize %}
<div class="wp-block-embed wp-block-embed--wide">
{% endif %}
    <figure class="wp-block-embed__wrapper shadow js-intersection-ratio is-provider-youtube has-playbutton js-embed-wrapper {{ video.className|default('') }}">
        <button class="wp-block-embed__playbutton js-embed-play" type="button">
            <span class="wp-block-embed__playbutton-text">
                <span class="screen-reader-text">Eingebettetes Video starten.</span>
                Mit einem Klick werden Daten von YouTube nachgeladen.
            </span>
        </button>

        {%
            set attributes = {
                'imagePath' : 'youtube/' ~ video.id,
                'alt': 'Cover des Videos "'~video.title|e('esc_html')~'"',
                'pictureElementClasses' : 'wp-block-embed__cover js-embed-cover',
                'align' : video.align
            }
        %}

        {{ renderPictureTag(attributes) }}

        <iframe data-src="https://www.youtube.com/embed/{{ video.id }}?autoplay=1"
                title="{{ video.title|e('esc_html') }}"
                class="wp-block-embed__iframe js-embed-iframe"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
        </iframe>
    </figure>
{% if video.halfsize %}
</div>
{% endif %}
