<header class="site-header">
	<a class="screen-reader-text skip-link" href="#content">Direkt zum Inhalt.</a>

	<a class="site-logo" href="{{ site.link }}">
		{{ headlineContainerOpeningElement }}
			der tag und ich
		{{ headlineContainerClosingElement }}
	</a>

	{% if mainMenu.items is not empty %}
		<div class="site-navigation-wrapper shadow js-site-navigation">
			<button class="button site-navigation-togglebutton js-navigation-toggle" aria-label="Menü öffnen" aria-expanded="false">
				Menü
			</button>

			<nav class="site-navigation-background">
				<ul class="site-navigation">
					{% for item in mainMenu.items %}
						<li class="site-navigation__item {{ item.classes|join(' ') }}{% if item.current %} current{% endif %}" style="--additional-transition-delay: {{ loop.index * 100}}ms">
							<a href="{{ item.link }}" class="site-navigation__link">{{ item.title }}</a>
						</li>
					{% endfor %}
				</ul>
			</nav>
		</div>
	{% endif %}
</header>
