<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BlogPosting",
        "headline": "{{ post.title }}",
        "description": "{{ post.excerpt }}",
        "datePublished": "{{ post.date|date('Y-m-d') }}",
        "datemodified": "{{ post.date|date('Y-m-d') }}",
        "mainEntityOfPage": "true",
        "image": {
            "@type": "imageObject",
                "url": "{{ Image(jsonLdImage).src('large') }}",
                "height": "{{ Image(jsonLdImage).height }}",
                "width": "{{ Image(jsonLdImage).width }}"
        },
        "publisher": {
            "@type": "Organization",
            "name": "der tag und ich",
            "logo": {
                "@type": "imageObject",
                "url": "{{ Image(logoId).src('large') }}",
                "height": "{{ Image(logoId).height }}",
                "width": "{{ Image(logoId).width }}"
            }
        },
        "author": {
            "@type": "Person",
            "name": "Martin Schneider"
        }
    }
</script>
