{% if posts.pagination.pages is not empty %}
{% apply spaceless %}
    <nav class="pagination shadow">
        {% if posts.pagination.prev %}
            <a href="{{ posts.pagination.prev.link }}"
            class="pagination__link pagination__link--prevnext shadow shadow--hover"
            data-content="&laquo;">
                &larr;<span class="screen-reader-text"> Vorherige Seite</span>
            </a>
        {% endif %}

        <ul class="pagination__pages">
            {% for page in posts.pagination.pages %}
                <li class="pagination__element {% if page.link or page.class == 'dots' %}pagination__element--hide{% endif %}">
                    {% if page.link %}
                        <a href="{{ page.link }}" class="pagination__link shadow shadow--hover"
                        data-content="{{ page.title }}">
                            <span class="screen-reader-text">Gehe zu Seite </span>
                            {{ page.title }}
                        </a>
                    {% elseif page.class == 'dots' %}
                        <span class="pagination__link pagination__link--dots"
                            aria-hidden="true"
                            data-content="{{ page.title }}">{{ page.title }}</span>
                    {% else %}
                        <span class="pagination__link pagination__link--current"
                            data-content="{{ page.title }}">
                            <span class="screen-reader-text">Aktuelle Seite: </span>
                            {{ page.title }}</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        {% if posts.pagination.next %}
            <a href="{{ posts.pagination.next.link }}"
            class="pagination__link pagination__link--prevnext shadow shadow--hover"
            data-content="&raquo;">
                <span class="screen-reader-text">Nächste Seite </span>&rarr;
            </a>
        {% endif %}
    </nav>
{% endapply %}
{% endif %}
