<picture {{ pictureElementClasses ? 'class="' ~ pictureElementClasses ~ '"' }}>
    {% for format, srcset in srcsets %}
        {% if format == 'jpg' %}
            <img src="{{ placeholder }}"
                 alt="{{ alt|escape }}"
                 {% if lazyloading %}
                    loading="lazy"
                    data-srcset="{{ srcset|join(',') }}"
                    data-sizes="{{ sizes }}"
                    data-lazyload="true"
                 {% else %}
                    srcset="{{ srcset|join(',') }}"
                    sizes="{{ sizes }}"
                 {% endif %}
                 {{ imageElementClasses ? 'class="' ~ imageElementClasses ~ '"' }}
                 {{ height ? 'height="' ~ height ~ '"' }}
                 {{ width ? 'width="' ~ width ~ '"' }}
                 decoding="async"
            >
        {% else %}
            <source type="image/{{ format }}"
                    {% if lazyloading %}
                        data-srcset="{{ srcset|join(',') }}"
                        data-sizes="{{ sizes }}"
                        data-lazyload="true"
                    {% else %}
                        srcset="{{ srcset|join(',') }}"
                        sizes="{{ sizes }}"
                    {% endif %}
            >
        {% endif %}
    {% endfor %}
</picture>
