{% if post.prev or post.next %}
    <div class="contentwrapper">
        <nav class="prevnext">
            {% if post.prev %}
                <div class="prevnext__linkwrapper">
                    <div class="prevnext__linktitle">&larr; Voriger Artikel</div>
                    <a href="{{ post.prev.link }}" class="prevnext__link prevnext__link--prev">{{ post.prev.title }}</a>
                </div>
            {% endif %}

            {% if post.next %}
                <div class="prevnext__linkwrapper prevnext__linkwrapper--next">
                    <div class="prevnext__linktitle">Nächster Artikel &rarr;</div>
                    <a href="{{ post.next.link }}" class="prevnext__link prevnext__link--next">{{ post.next.title }}</a>
                </div>
            {% endif %}
        </nav>
    </div>
{% endif %}