{% if relatedPosts %}
	<div class="contentwrapper">
		<h2>Ähnliche Beiträge</h2>
	</div>

	<ul class="imageteaser-gallery">
		{% for post in relatedPosts %}
			<li class="imageteaser-gallery__item js-intersection-ratio js-is-intersecting">{{ renderImageTeaser(post, 'image') }}</li>
		{% endfor %}
	</ul>
{% endif %}
