<form method="GET" class="searchform shadow" action="/">
    <label for="search-input" class="screen-reader-text">Blog durchsuchen:</label>
    <input id="search-input" name="s" type="text" class="searchform__input" value="{{ queryTerm|default('') }}">
    <button type="submit" class="searchform__button">Suchen</button>
</form>