<article class="imageteaser image-hover shadow-small">
    {{ renderPictureTag({
        'imagePath' : imagePath,
        'imageId' : imageId,
        'pictureElementClasses' : 'imageteaser__image',
        'sizes' : '(min-width: 1000px) 500px, 100vw',
        'imageWidthsToGenerate' : [500, 1000],
    }) }}

    <div class="imageteaser__text">
        <h3 class="heading heading--5 imageteaser__headline">
            <a href="{{ post.link }}" class="imageteaser__link">
                {{ post.title }}
            </a>
        </h3>
    </div>
</article>
