<article class="teaser {{ post.class }} shadow js-is-intersecting">
	{{ renderPictureTag({
        'imagePath' : imagePath,
        'imageId' : imageId,
        'alt' : '',
        'sizes' : '(min-width: 600px) 600px, (min-width: 992px) 400px, 100vw',
        'imageWidthsToGenerate' : [400, 600],
        'pictureElementClasses' : 'teaser__image'
    }) }}

	<div class="teaser__text flow-small">
		<h2 class="heading heading--5">
			<a href="{{ post.link }}" class="teaser__link">{{ post.title }}</a>
		</h2>
		<time datetime="{{ post.date|date('Y-m-d H:i:s') }}" class="teaser__date">{{ post.date }}</time>
	</div>
</article>
