{% extends "base.html.twig" %}

{% block content %}
    
    <header class="contentwrapper subheader flow">
        <h1 class="heading">{{ title }}</h1>
        <p class="heading heading--4">Seite {{ currentPage }}</p>
    </header>

    <div class="flow-medium contentwrapper">
        {% for post in posts %}
            {{ renderImageTeaser(post, 'article') }}
        {% endfor %}
    </div>

    {% include "_pagination.html.twig" with { pagination: posts.pagination({show_all: false, mid_size: 1, end_size: 1}) } %}
{% endblock %}