<!doctype html>
<html lang="de-DE">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">

    <link rel="preload" href="{{ theme.link }}/fonts/cabin-sketch-v19-latin-700.woff2" as="font" type="font/woff2" crossorigin="">

    {{ function('wp_head') }}
</head>

<body class="{{ body_class }} noscript">
    {{ function('get_header') }}

    <div class="flow-xl">
        <main class="flow-large" id="content" tabindex="-1">
            {% block content %}
            {% endblock %}
        </main>

        {{ function('get_footer') }}

        {{ function('wp_footer') }}
    </div>

    <script>
        if ('loading' in HTMLImageElement.prototype) {
            const imageSources = document.querySelectorAll('[data-lazyload="true"]');
            imageSources.forEach(tag => {
                tag.srcset = tag.dataset.srcset;
                delete tag.dataset.srcset;

                tag.sizes = tag.dataset.sizes;
                delete tag.dataset.sizes;
            });
        } else {
            const script = document.createElement('script');
            script.src =
            '{{ theme.link }}/dist/js/lazyload.iife.min.min.js';
            script.onload = () => { new LazyLoad({ elements_selector : '.js-lazyload' }); };
            document.body.appendChild(script);
        }

        window.addEventListener('load', () => {
            const body = document.querySelector('body');
            const toggleButton = document.querySelector('.js-navigation-toggle');
            
            if (toggleButton) {   
                toggleButton.addEventListener('click', () => {
                    body.classList.toggle('navigation-is-open');

                    if (toggleButton.getAttribute('aria-expanded') == 'false') {
                        toggleButton.setAttribute('aria-expanded', 'true'); 
                        toggleButton.setAttribute('aria-label', 'Menü schließen'); 
                    } else {
                        toggleButton.setAttribute('aria-expanded', 'false'); 
                        toggleButton.setAttribute('aria-label', 'Menü öffnen'); 
                    }
                });
            }
        })
    </script>
</body>
</html>
