{% extends "base.html.twig" %}

{% block content %}
    {% if (flymap) %}
        <div class="contentwrapper">
            <header class="hero-header hero-header--map flow alignfull js-intersection-ratio">
                <div class="hero-header__textwrapper flow-small shadow shadow--large-only">
                    <h1 class="hero-header__headline">{{ term.name }}</h1>
                    {% if term.description and currentPage < 2 %}
                    <p>{{ term.description }}</p>
                    {% endif %}
                </div>
                
                <div class="hero-header__image shadow">
                    {% include '_flymap.html.twig' %}
                </div>
            </header>
        </div>
    {% else %}
        <header class="contentwrapper subheader flow">
            <h1 class="heading">{{ term.name }}</h1>

            {% if term.description and currentPage < 2 %}
                <p>{{ term.description }}</p>
            {% endif %}

            {% if currentPage > 1 %}
                <p class="heading heading--4">Seite {{ currentPage }}</p>
            {% endif %}
        </header>
    {% endif %}

    <div class="flow-medium contentwrapper">
        {% for post in posts %}
            {{ renderImageTeaser(post, 'article') }}
        {% endfor %}
    </div>

    {% include "_pagination.html.twig" with { pagination: posts.pagination({show_all: false, mid_size: 1, end_size: 1}) } %}
{% endblock %}