{% extends "base.html.twig" %}

{% block content %}
    <div class="flow-xl">
        {% for post in posts %}
            {% include "_article.html.twig" %}
        {% endfor %}
    </div>

    {% include "_pagination.html.twig" with { pagination: posts.pagination({show_all: false, mid_size: 1, end_size: 1}) } %}
{% endblock %}