{% extends "base.html.twig" %}

{% block content %}
    <header class="contentwrapper subheader flow">
        <h1 class="heading">Suche nach <em>{{ queryTerm }}</em></h1>

        {% if posts|length %}
            <p class="heading heading--4">Es wurden {{ posts.found_posts }} Beiträge gefunden.</p>
        {% else %}
            <p class="heading heading--4">Es wurden keine Beiträge gefunden.</p>
        {% endif %}

        {% if currentPage > 1 %}
            <p class="heading heading--4">Seite {{ currentPage }}</p>
        {% endif %}

        {% include "_searchform.html.twig" with { queryTerm : queryTerm } %}
    </header>

    {% if posts|length %}
        <div class="flow-medium contentwrapper">
            {% for post in posts %}
                {{ renderImageTeaser(post, 'article') }}
            {% endfor %}
        </div>
    {% endif %}

    {% include "_pagination.html.twig" with { pagination: posts.pagination({show_all: false, mid_size: 1, end_size: 1}) } %}
{% endblock %}