{% extends "base.html.twig" %}

{% block content %}
    {% include "_article.html.twig" %}

    {% include "_prevnext.html.twig" %}

    {% include "_related-posts.html.twig" %}

    {% include '_jsonld-blogpost.html.twig' %}
{% endblock %}