$contentPadding: 4vw;
$paragraphWidth: 37rem;
$maxContentWidth: 1000px;
$wideContentWidth: clamp(1000px, 80vw, 1600px);
$fullContentWidth: 2500px;
$headerHeight: clamp(8rem, 11vw, 14rem);
$halfHeaderHeight: clamp(4rem, 11vw, 7rem);

$zIndexHeroImage: 0;
$zIndexImageOverlay: 2;
$zIndexImageOverlayContent: 1;
$zIndexHeroHeadline: 1;
$zIndexSiteHeader: 3;
$zIndexHeroGradient: 3;
$zIndexImageTeaserLink: 3;

$flow-small: 1rem;
$flow: 2.25rem;
$flow-medium: 4rem;
$flow-large: $headerHeight;
$flow-xl: 14rem;

$fontFamilyHeadline: "Cabin Sketch", sans-serif;
$fontFamilyContent: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$fontSize: clamp(16px, 1.35vw, 22px);
$fontSizeSmall: clamp(14px, 0.9vw, 16px);

:root {
    --paragraph-width: #{$paragraphWidth};
    --content-width: #{$maxContentWidth};
    --wide-content-width: #{$wideContentWidth};

    --font-family-headline: #{$fontFamilyHeadline};
    --font-family-content: #{$fontFamilyContent};
    --font-size: #{$fontSize};

    --flow-small: #{$flow-small};
    --flow: #{$flow};
    --flow-medium: #{$flow-medium};
    --flow-large: #{$flow-large};
    --flow-xl: #{$flow-xl};

    --color-html-bg: hsl(222, 10%, 85%);
    --color-bg: hsl(222, 10%, 100%);
    --color-bg-offset: hsl(222, 10%, 95%);
    --color-bg-offset-2: hsl(222, 10%, 85%);
    --color-text: hsl(222, 45%, 5%);
    --color-text-offset: hsl(222, 60%, 10%);

    --color-link: hsl(222, 50%, 25%);
    --color-link-hover: hsl(222, 15%, 30%);

    --color-primary: hsl(222, 45%, 15%);
    --color-primary-offset: hsl(222, 45%, 30%);
    --color-primary-offset-2: hsl(222, 45%, 40%);
    --color-secondary: hsl(118, 70%, 65%);
    --color-secondary-offset: hsl(118, 60%, 45%);
    --color-tertiary: hsl(50, 75%, 65%);
    --color-tertiary-offset: hsl(50, 55%, 45%);
    --color-primary-invert: hsl(222, 10%, 100%);

    --gradient-transparent: linear-gradient(
        315deg,
        hsla(118, 70%, 65%, 0.15),
        hsla(133, 67%, 58%, 0.15),
        hsla(148, 65%, 52%, 0.15),
        hsla(162, 61%, 46%, 0.15),
        hsla(177, 59%, 39%, 0.15),
        hsla(192, 56%, 33%, 0.15),
        hsla(207, 54%, 26%, 0.15),
        hsla(207, 54%, 26%, 0.15)
    );

    --heading-gradient-dark: linear-gradient(
        180deg,
        var(--color-primary),
        var(--color-primary-offset-2)
    );

    --heading-gradient-light: linear-gradient(
        90deg,
        var(--color-bg),
        var(--color-bg-offset-2)
    );
}
