@use "sass:math";

.button {
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    font-weight: 500;
    background-color: var(--color-bg-offset);
    text-transform: uppercase;
    font-size: $fontSizeSmall;
    padding: #{math.div($flow-small, 2.5)} #{math.div($flow-small, 1.5)};
    letter-spacing: 0.1em;
    display: flex;
    align-items: center;

    @media (hover: hover) {
        &:hover {
            background-color: var(--color-bg);
        }
    }

    &:active {
        transform: scale(0.95);
    }

    svg {
        height: 1.2rem;
        width: 1.2rem;
        margin-right: 0.25rem;
    }
}
