.hero-header {
    position: relative;
    padding-top: $headerHeight;

    @media (min-width: $maxContentWidth) {
        padding-top: clamp(4rem, 10vw, 6rem);
    }

    &__textwrapper {
        --flow-override: 1rem;

        padding-left: $contentPadding;
        padding-right: $contentPadding;

        @media (min-width: $maxContentWidth) {
            background: hsla(0, 100%, 100%, 0.85);
            position: absolute;
            top: 50%;
            transform: translateY(-20%);
            display: inline-block;
            padding: 2rem;
            z-index: 10;
            text-align: right;
            right: 55%;

            .hero-header--map & {
                right: calc(70% - #{$contentPadding});
            }

            animation: heroHeaderFadeIn 750ms ease forwards;
        }
    }

    &__headline {
        font-size: clamp(1.75rem, 4.5vw, 2.25rem);
        font-weight: 700;

        @media (min-width: $maxContentWidth) {
            font-size: clamp(1.5rem, 3vw, 2rem);
        }
    }

    &__image {
        max-width: $maxContentWidth;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        overflow: hidden;

        @media (min-width: $maxContentWidth) {
            --flow-override: 0;

            width: 65vw;
            max-width: 1600px;
            margin-left: auto;
            margin-right: $contentPadding;
        }

        @media (prefers-reduced-motion: no-preference) {
            opacity: calc(0.2 + var(--intersectionRatio, 1));
        }

        img {
            @media (prefers-reduced-motion: no-preference) {
                transform: scale(calc(1 + (0.2 * var(--intersectionRatio, 1))));
            }
        }
    }
}

@keyframes heroHeaderFadeIn {
    from {
        transform: translateY(50%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}
