@use "sass:math";

.imageteaser-gallery {
    --flow-override: 0;

    overflow-x: auto;
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding: math.div($contentPadding, 2) math.div($contentPadding, 4);
    list-style: none;
    scroll-snap-type: x mandatory;
    width: $wideContentWidth;

    &__item {
        scroll-snap-align: center;
        flex-shrink: 0;
        margin-bottom: 30px;
        width: 400px;
        max-width: 75%;

        & + & {
            margin-left: $flow;
        }
    }
}

.imageteaser {
    padding-bottom: 56.25%;
    position: relative;
    background-color: var(--color-bg-offset);
    overflow: hidden;
    opacity: calc(0.25 + var(--intersectionRatio, 0));

    @media (hover: hover) {
        transition: transform 200ms ease;

        &:hover {
            transform: scale(1.05);
        }
    }

    &__image {
        position: absolute !important;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        z-index: 2;
        transform: translateY(100%);
        transition: transform 300ms ease-in-out;

        .imageteaser-gallery__item.is-intersecting & {
            transform: translateY(0);
        }
    }

    &__link {
        &:link,
        &:visited {
            color: #ffffff;
            text-decoration: none;
        }

        &:hover {
            color: #ffffff;
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: $zIndexImageTeaserLink;
        }
    }

    &__headline {
        padding: var(--flow) var(--flow-small) var(--flow-small);
        background-image: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.01),
            var(--color-primary)
        );
    }
}
