.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem;
    font-family: $fontFamilyHeadline;
    font-size: 1.5rem;
    clear: both;
    width: max-content;
    max-width: $maxContentWidth;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-bg-offset);

    &__pages {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        gap: 1.5rem;
        padding: 0;
        margin: 0 1.5rem;
        list-style: none;
    }

    &__link {
        min-width: 2em;
        min-height: 2em;
        padding: 0.2em;
        background-color: var(--color-bg);
        display: grid;
        place-items: center;
        text-decoration: none;
        line-height: 1;
        font-weight: 700;

        &:hover,
        &:focus-visible {
            color: var(--color-primary-invert);
            background-color: var(--color-primary);
        }

        &--current {
            color: var(--color-link);
            background-color: transparent;

            &:hover {
                color: var(--color-link);
                background-color: transparent;
            }
        }

        &--dots {
            color: var(--color-link);
            background-color: transparent;

            &:hover {
                color: var(--color-link);
                background-color: transparent;
            }
        }
    }

    &__element {
        &--hide {
            display: none;

            @media (min-width: $maxContentWidth) {
                display: block;
            }
        }
    }
}
