@use "sass:math";

$poiMapBreakpoint: 1200px;

.map-wrapper {
    --flow-override: 0;
    height: 90vh;
    display: flex;
    position: relative;

    @media (min-width: $poiMapBreakpoint) {
        height: 75vh;
    }
}

.map {
    width: 100%;
    height: 100%;
}

.poi-list-wrapper {
    height: auto;
    position: absolute;
    width: 80%;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;

    @media (min-width: $poiMapBreakpoint) {
        width: 600px;
        max-width: 50%;
        top: 50%;
        right: #{math.div($contentPadding, 2)};
        bottom: auto;
        left: auto;
        transform: translateY(-50%);
    }

    &::before {
        content: "";
        display: block;
        padding-bottom: 200px;

        @media (min-width: $poiMapBreakpoint) {
            padding-bottom: 75%;
        }
    }
}

.poi-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.8);
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow: hidden;

    &__poi {
        scroll-snap-align: center;
        height: 100%;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        background-image: radial-gradient(
            circle at left top,
            var(--color-bg),
            var(--color-bg-offset)
        );
    }

    &__button {
        background-color: var(--color-primary);
        color: var(--color-bg);
        border: 0;
        width: 2.5rem;
        height: 2.5rem;
        min-width: 48px;
        min-height: 48px;
        top: var(--top, 0);
        bottom: var(--bottom, auto);
        left: 50%;
        position: absolute;
        transition: background-color 100ms ease, color 100ms ease;
        transform: translate(var(--translation)) scale(var(--scale, 1));
        z-index: 1;

        &[aria-disabled="true"] {
            opacity: 0.5;
            background-color: var(--color-bg-offset);
            color: var(--color-primary);
        }

        &:active {
            --scale: 0.95;
        }

        &[aria-disabled="true"]:active {
            --scale: 1;
        }

        &--up {
            --translation: 10px, -50%;

            @media (min-width: $poiMapBreakpoint) {
                --translation: -50%, -50%;
            }
        }

        &--down {
            --translation: calc(-100% - 10px), -50%;

            @media (min-width: $poiMapBreakpoint) {
                --top: auto;
                --bottom: 0;
                --translation: -50%, 50%;
            }
        }
    }
}

.poi-teaser {
    padding: 2.5rem 2rem 2rem;
    flex-grow: 0;
    width: 100%;
    --flow-override: 0.75rem;

    @media (min-width: $poiMapBreakpoint) {
        padding: 2rem;
    }

    &__link {
        text-align: right;
        font-size: 1rem;
    }

    &__description {
        display: none;

        @media (min-width: $poiMapBreakpoint) {
            display: block;
        }
    }
}

.mapboxgl-marker {
    &.is-active-marker {
        z-index: 100;

        g {
            fill: var(--color-primary);
        }
    }
}
