.prevnext {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: #{$flow-small};

    & > * {
        min-width: 300px;
        width: calc(50% - #{$flow-small});
        max-width: 100%;
    }

    &__linkwrapper {
        margin-top: #{$flow-small};

        &--next {
            text-align: right;
            margin-left: auto;
        }
    }

    &__linktitle {
        text-transform: uppercase;
        font-size: $fontSizeSmall;
    }
}
