.searchform {
    background-color: var(--color-bg);
    display: flex;
    width: $paragraphWidth;
    max-width: 100%;
    justify-content: stretch;
    overflow: hidden;
    padding: 0.1rem;
    position: relative;
    border: 0.1rem solid var(--color-bg-offset);

    &__input {
        border: 0;
        background: transparent;
        flex-grow: 1;
        padding: 0.75rem;

        &:focus-visible {
            outline: 2px dashed var(--color-tertiary);
        }
    }

    &__button {
        position: absolute;
        right: 0.2rem;
        top: 0.2rem;
        height: calc(100% - 0.4rem);
        background-color: var(--color-primary);
        color: var(--color-bg);
        border: 0.1rem solid var(--color-bg);
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.75rem;
        cursor: pointer;

        &:focus {
            background-color: var(--color-primary-offset);
        }

        @media (hover: hover) {
            transition: transform 100ms ease;

            &:hover {
                background-color: var(--color-primary-offset);
                transform: scale(1.05);
            }
        }
    }
}
