.site-logo {
    padding: 0.75rem 0.75rem 0.75rem $contentPadding;
    font-family: var(--font-family-headline);
    font-size: clamp(1.5rem, 2.75vw, 2rem);
    text-transform: uppercase;

    & > * {
        font-size: clamp(1.5rem, 2.75vw, 2rem);
        line-height: 1;
    }
}
