@use "sass:math";

.teaser {
    position: relative;
    width: $paragraphWidth;
    overflow: hidden;
    transition: transform 150ms ease-in-out, opacity 150ms ease-in-out;

    &:not(:first-of-type) {
        opacity: 0;
        transform: translateY(50%);
    }

    &.is-intersecting {
        opacity: 1;
        transform: translateY(0);
    }

    @media (min-width: $maxContentWidth) {
        display: flex;
    }

    @media (hover: hover) {
        will-change: transform;

        &:hover {
            transform: scale(1.025);
        }
    }

    &:active {
        transform: scale(0.95);
    }

    &__image {
        overflow: hidden;
        aspect-ratio: 2/1;

        @media (min-width: $maxContentWidth) {
            width: 45%;
            aspect-ratio: 3/2;
        }

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__text {
        padding: #{$flow-small};
        background-image: radial-gradient(
            circle at left top,
            var(--color-bg),
            var(--color-bg-offset)
        );

        @media (min-width: $maxContentWidth) {
            width: 55%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }
    }

    &__link {
        text-decoration: none;

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: $zIndexImageTeaserLink;
        }

        @media (hover: hover) {
            &:hover {
                color: var(--color-link);
            }
        }
    }

    &__date {
        font-size: $fontSizeSmall;
        color: var(--color-text-offset);
    }
}
