.wp-block-cover {
    background-size: cover;
    color: #ffffff;
    display: grid;
    place-items: center center;
    padding: $contentPadding;

    &.has-parallax {
        background-attachment: fixed;
    }

    &.is-repeated {
        background-repeat: repeat;
        background-size: auto;
    }

    &.has-custom-content-position {
        &.is-position-top-left {
            place-items: start start;
        }

        &.is-position-center-left {
            place-items: center start;
        }

        &.is-position-bottom-left {
            place-items: end start;
        }

        &.is-position-top-right {
            place-items: start end;
        }

        &.is-position-center-right {
            place-items: center end;
        }

        &.is-position-bottom-right {
            place-items: end end;
        }

        &.is-position-top-center {
            place-items: start center;
        }

        &.is-position-bottom-center {
            place-items: end center;
        }
    }
}
