.wp-block-embed {
    &--wide {
        width: $wideContentWidth;
    }

    &__wrapper {
        position: relative;

        &::after {
            content: " ";
            display: block;
            padding-top: 56.25%; // Videos from YouTube and Vimeo will be 16:9
        }

        &.is-provider-spotify {
            overflow: hidden;
            width: 450px; // this is the max-width of a cover-image from the spotify-oembed-api
            max-width: 100%;

            @media (max-width: #{$maxContentWidth - 1}) {
                margin-left: auto;
                margin-right: auto;
            }

            &::after {
                content: " ";
                display: block;
                padding-top: 100%; // Spotify-Embeds will be squared
            }
        }
    }

    &__playbutton {
        @include button-reset;

        position: absolute;
        display: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("/wp-content/themes/hakerpsson/images/play-circle-transparent.svg"),
            var(--gradient-transparent);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 15%, 110%;
        cursor: pointer;
        z-index: 3;
        align-items: flex-end;
        justify-content: center;

        .has-playbutton & {
            display: flex;
        }

        @media (hover: hover) {
            &:hover {
                background-size: 14%, 110%;
            }
        }
    }

    &__playbutton-text {
        color: var(--color-text);
        font-size: 0.7rem;
        padding: var(--flow-small);
        text-transform: uppercase;
        letter-spacing: 0.025em;
        background-color: rgba(255, 255, 255, 0.75);
        width: 100%;
    }

    &__cover {
        position: absolute;
        width: 100%;
        height: 100%;
        display: none;
        filter: brightness(95%);
        overflow: hidden;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
        }

        .has-playbutton & {
            display: flex;
        }

        .is-provider-spotify & {
            height: 100%;
            max-width: initial;
        }
    }

    &__iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        border: 0;

        .has-playbutton & {
            display: none;
        }
    }
}
