// Heading
//
// Überschriften
//
// .heading--2          - Überschrift 2. Grades
// .heading--3          - Überschrift 3. Grades
// .heading--4          - Überschrift 4. Grades
// .heading--5          - Überschrift 5. Grades
// .heading--6          - Überschrift 6. Grades
// .heading--centered   - zentrierte Überschrift
//
// Markup:
// <h1 class="heading {{modifier_class}}">Hallo Welt!</h1>
//
// Styleguide: Blocks.Heading

.heading {
    @extend h1;

    &--2 {
        @extend h2;
    }

    &--3 {
        @extend h3;
    }

    &--4 {
        @extend h4;
    }

    &--5,
    &--6 {
        @extend h5;
    }

    &--centered {
        text-align: center;
    }
}
