.wp-block-code {
    overflow-x: auto;
    background-color: var(--color-bg-offset);
    padding: $flow-small;
    box-shadow: 0 0px 1.4px -5px rgba(0, 0, 0, 0.25),
        0 0px 3.5px -5px rgba(0, 0, 0, 0.172),
        0 0px 7.1px -5px rgba(0, 0, 0, 0.139),
        0 0px 14.6px -5px rgba(0, 0, 0, 0.111),
        0 0px 40px -5px rgba(0, 0, 0, 0.078);
}
