.wp-block-poi-wrapper {
    width: 100%;
    max-width: $wideContentWidth;

    & .alignleft,
    & .alignright {
        @media (min-width: $maxContentWidth) {
            & + * {
                --flow-override: 0;
            }
        }
    }
}

.wp-block-poi {
    --flow-override: 0.75rem;
    font-size: 0.8rem;
    max-width: $paragraphWidth;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $maxContentWidth) {
        max-width: 625px;
    }

    &.aligncenter {
        @media (min-width: $maxContentWidth) {
            max-width: $paragraphWidth;
        }
    }

    &__image {
        overflow: hidden;
    }
}
