.wp-block-gallery {
    display: grid;
    gap: var(--flow);

    &.columns-2,
    &.columns-default {
        @media (min-width: $maxContentWidth) {
            grid-template-columns: 1fr 1fr;
        }
    }

    &.columns-3 {
        @media (min-width: $maxContentWidth) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    & > figcaption {
        text-align: center;
    }
}
