.wp-block-image {
    clear: both;
    text-align: center;
    line-height: 0;

    &--wide {
        width: $wideContentWidth;
    }

    figure {
        margin-bottom: var(--flow);
    }

    picture {
        display: inline-block;
    }

    &.is-style-fancy-image {
        z-index: 2;
        padding: 1rem;

        picture {
            display: inline-block;
            position: relative;
            box-shadow: none !important;

            &::before,
            &::after {
                content: "";
                display: block;
                position: absolute;
                opacity: 0;
            }

            --initialAnimation: ease-in-out 300ms;

            &::before,
            &::after,
            img {
                transition: transform var(--animation, --initialAnimation),
                    opacity var(--animation, --initialAnimation);
            }
        }

        &.is-intersecting picture {
            &::before,
            &::after,
            img {
                --animation: ease-in-out 300ms;
                opacity: 1;
            }

            &::before {
                width: calc(100% + 1rem);
                height: calc(100% + 1rem);
                top: 0;
                left: 0;
                z-index: 1;
                background-image: linear-gradient(
                    180deg,
                    var(--color-primary),
                    var(--color-primary-offset)
                );
                box-shadow: -1rem -1rem 0 0 var(--color-bg-offset-2);
            }

            &::after {
                width: calc(100% + 1rem);
                height: calc(100% + 1rem);
                top: -0.5rem;
                left: -0.5rem;
                z-index: 2;
                background-image: linear-gradient(
                    180deg,
                    var(--color-secondary),
                    var(--color-secondary-offset)
                );
            }

            img {
                position: relative;
                z-index: 3;
            }
        }

        @media (hover: hover) {
            &:hover {
                picture::before {
                    transform: scale(1);
                }

                picture::after {
                    transform: scale(1);
                }
            }
        }
    }
}

// give images some extra air
.alignwide,
.alignfull {
    --flow-override: clamp(2rem, 4vw, 4rem);

    & + & {
        --flow-override: clamp(2rem, 6vw, 8rem);
    }

    & + *:not(&) {
        --flow-override: clamp(2rem, 4vw, 4rem);
    }
}
