.article {
    margin-top: $headerHeight;
    clear: both;

    &::after {
        display: block;
        clear: both;
        content: "";
    }

    &__header {
        margin-left: auto;
        margin-right: auto;
        width: $paragraphWidth;
    }

    &__headlink {
        font-weight: 700;
    }

    .single &.has-post-thumbnail {
        margin-top: 0;
    }

    & > p,
    & > ul:not([class]),
    & > ol:not([class]),
    & > blockquote {
        width: $paragraphWidth;
        letter-spacing: 0.02em;
    }

    li + li:not(.blocks-gallery-item) {
        margin-top: var(--flow-small);
    }

    & > h2,
    & > h3,
    & > h4,
    & > h5,
    & > h6 {
        --flow-override: 3em;
        width: $paragraphWidth;

        & + * {
            --flow-override: 1rem;
        }

        // Absätze nach ausgerückten Elementen sollen den gleichen Abstand
        // bekommen, da sie in großer Darstellung nebeneinander liegen
        @media (min-width: $maxContentWidth) {
            & + .wp-block-poi-wrapper + p,
            & + .wp-block-image--aligned + p {
                --flow-override: 1rem;
            }
        }
    }
}
