.contentwrapper {
    padding-left: $contentPadding;
    padding-right: $contentPadding;

    & > * {
        margin-left: auto;
        margin-right: auto;
        width: $maxContentWidth;
        max-width: 100%;
    }
}
