.footer {
    padding: var(--flow);
    background-image: radial-gradient(
        circle at center top,
        var(--color-bg-offset),
        var(--color-bg) 25vw
    );

    &__search {
        max-width: max-content;
        margin-left: auto;
        margin-right: auto;
    }
}
