.footer-navigation {
    list-style: none;
    text-align: center;
    padding: 0;

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1rem;
        }
    }

    &__link {
        display: flex;
        min-height: 48px;
        align-items: center;
    }
}
