.site-header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: $fullContentWidth;
    padding-top: 2vw;
    height: $headerHeight;
    display: flex;
    z-index: $zIndexSiteHeader;
    align-items: flex-start;
    justify-content: space-between;
}
