$siteNavigationDuration: 50ms;

.site-navigation-wrapper {
    background: var(--color-bg-offset);
    padding: 0.75rem $contentPadding 0.75rem 0.75rem;
}

.site-navigation-background {
    transition: height $siteNavigationDuration ease,
        opacity $siteNavigationDuration ease;
    background-image: url("/wp-content/themes/hakerpsson/images/background-light.svg"),
        radial-gradient(
            circle at left top,
            var(--color-bg-offset),
            var(--color-bg) 25vh
        );
    background-size: cover, cover;
    width: 100%;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    align-items: center;
    text-align: center;
    z-index: 1;
    opacity: 0;

    .navigation-is-open & {
        width: 100%;
        height: 101vh;
        bottom: 0;
        left: 0;
        opacity: 1;
    }
}

.site-navigation-togglebutton {
    z-index: 2;
    position: relative;
}

.site-navigation {
    list-style: none;
    visibility: hidden;
    margin: 0;
    padding: 0;
    font-family: var(--font-family-headline);
    text-transform: uppercase;

    .navigation-is-open & {
        visibility: visible;
    }

    &__item {
        opacity: 0;
        transform: translateY(-2rem);
        position: relative;
        margin-bottom: 2rem;
        font-size: 2rem;
        transition: opacity 100ms ease,
            transform 100ms cubic-bezier(0.17, 0.67, 0.61, 1.49);
        transition-delay: calc(
            #{$siteNavigationDuration} + var(--additional-transition-delay)
        );

        .navigation-is-open & {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

main {
    transition: transform 100ms ease;
}

.navigation-is-open {
    height: 100vh;
    overflow: hidden;

    main {
        transform: scale(0.75);
    }
}
