@use "sass:math";

.wp-block-columns {
    @media (min-width: $maxContentWidth) {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    & + & {
        margin-top: 0;
    }
}

.wp-block-column {
    overflow: auto;
    padding-left: #{math.div($contentPadding, 2)};
    padding-right: #{math.div($contentPadding, 2)};

    &:first-child {
        padding-left: $contentPadding;
    }

    &:last-child {
        padding-right: $contentPadding;
    }

    & > * + * {
        margin-top: $flow;
    }

    .has-background & > * {
        &:first-child:not(.wp-block-cover) {
            margin-top: $flow;
        }

        &:last-child:not(.wp-block-cover) {
            margin-bottom: $flow;
        }
    }

    &.is-vertically-aligned-center {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    &.is-vertically-aligned-bottom {
        display: grid;
        align-items: end;
    }
}
