<div style="height: 200vh">Bitte nach unten scrollen...</div>
<picture>
    <source
        data-srcset="/test-image/group600.avif 600w, /test-image/group300.avif 300w"
        sizes="(min-width: 1200px) 600px, 300px"
        type="image/avif"
        data-lazyload="true"
        loading="lazy"
    />
    <source
        data-srcset="/test-image/group600.webp 600w, /test-image/group300.webp 300w"
        sizes="(min-width: 1200px) 600px, 300px"
        type="image/webp"
        data-lazyload="true"
        loading="lazy"
    />
    <img
        src="/test-image/groupblur.jpg"
        alt="A group of slightly smiling people."
        loading="lazy"
        data-srcset="/test-image/group600.jpg 600w, /test-image/group300.jpg 300w"
        sizes="(min-width: 1200px) 600px, 300px"
        width="300"
        height="300"
        class="lazyload"
        data-lazyload="true"
    />
</picture>

<script>
    if ("loading" in HTMLImageElement.prototype) {
        const imageSources = document.querySelectorAll(
            '[data-lazyload="true"]',
        );
        imageSources.forEach((tag) => {
            tag.srcset = tag.dataset.srcset;
            delete tag.dataset.srcset;
        });
    } else {
        const script = document.createElement("script");
        script.src =
            "https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.2.2/lazysizes.min.js";
        document.body.appendChild(script);
    }
</script>
