// Link
//
// :hover           - Hover-Effekt
// :visited         - besuchter Link
// :focus-visible   - fokusierter Link
//
// Markup:
// <a href="#" class="{{modifier_class}}">Hallo Welt!</a>
//
// Styleguide: Elements.Link

a {
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.125em;
    font-weight: 500;

    &:link {
        color: var(--color-link);
        text-decoration-color: var(--color-secondary);
    }

    &:visited {
        color: var(--color-link);
        text-decoration-color: var(--color-tertiary);
    }

    @media (hover: hover) {
        &:hover {
            color: var(--color-link-hover);
            text-decoration-color: var(--color-link-hover);
        }
    }

    &:focus-visible {
        color: var(--color-link-hover);
        text-decoration-color: var(--color-link-hover);
        outline: 2px dashed var(--color-tertiary);
    }

    /* &:active */
}
