// Blockquote
//
// Zitate
//
// .has-text-align-center   - zentrierter Text
// .has-text-align-right    - rechts ausgerichteter Text
//
// Markup:
// <blockquote class="{{modifier_class}}"><p>„Client side JavaScript is a multiple point of failure.“</p><cite>Jeremy Keith</cite></blockquote>
//
// Styleguide: Elements.Blockquote

blockquote {
    border-left: 0.25rem solid var(--color-primary);
    padding-left: var(--flow-small);
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--color-primary);
    position: relative;
    max-width: $paragraphWidth;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $maxContentWidth) {
        margin-left: 0;
        margin-right: 0;
    }

    & > * + * {
        display: block;
        margin-top: var(--flow-small);
    }

    &.has-text-align-center {
        border-left: none;
        padding-left: 0;
        padding-bottom: var(--flow-small);
        border-bottom: 0.25rem solid var(--color-primary);
    }

    &.has-text-align-right {
        border-left: none;
        padding-left: 0;
        padding-right: var(--flow-small);
        border-right: 0.25rem solid var(--color-primary);
    }

    cite {
        font-size: 0.9rem;
        color: var(--color-text);
    }
}
