body {
    max-width: $fullContentWidth;
    margin: 0 auto;
    padding: 1px 0 0 0;
    background-image: url("/wp-content/themes/hakerpsson/images/background-light.svg"),
        radial-gradient(
            circle at left top,
            var(--color-bg-offset),
            var(--color-bg) 25vh
        );
    background-size: 100% auto, cover;
    background-repeat: no-repeat, no-repeat;
}
