figcaption {
    font-size: $fontSizeSmall;
    padding: var(--flow-small);
    line-height: 1.6;
    text-align: left;
    max-width: $paragraphWidth;
    margin-left: auto;
    margin-right: auto;
    border-left: 0.25rem solid var(--color-primary);
}
