@mixin headline {
    font-family: $fontFamilyHeadline;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 0;
    hyphens: auto;
    text-transform: uppercase;
    color: var(--color-primary);

    @media (min-width: $maxContentWidth) {
        hyphens: manual;
    }
}

h1 {
    @include headline;

    font-size: clamp(1.75rem, 3.75vw, 2.5rem);
}

h2 {
    @include headline;

    font-size: clamp(1.5rem, 2.75vw, 2rem);
}

h3 {
    @include headline;

    font-size: clamp(1.3rem, 2.25vw, 1.6rem);
}

h4 {
    @include headline;

    font-size: clamp(1.2rem, 1.75vw, 1.4rem);
}

h5,
h6 {
    @include headline;

    font-size: 1rem;
}
